@import "./animate.scss";

.animation_entrance_exit {
   animation-delay: 0s, 0.3s;
   animation-duration: 2500ms, 2500ms;
   animation-name: lightSpeedOutLeft, lightSpeedInRight;
}

// .animation_entrance {
//    animation-delay: 0s;
//    animation-duration: 500ms;
//    animation-name: lightSpeedInRight;
// }

// .animation_exit {
//    animation-delay: 0s;
//    animation-duration: 500ms;
//    animation-name: lightSpeedOutLeft;
// }
